<%= form_for @recipe do |f| %>
	<fieldset id="recipe_meta">
		<ul>
			<li>
				<%= f.label :title  %> <br>
				<%= f.text_field :title %>
			</li>
			<li>
				<%= f.label :description  %> <br>
				<%= f.text_area :description, as: :text, id: 'recipe_description'  %>
			</li>
		</ul>
	</fieldset>

		<!-- NESTED FORM -->
	<fieldset id="recipe_ingredients">
		<ul>
			<%= f.fields_for :items do |item| %>
				<%= render 'item_fields', f: item %>
			<% end %>	
		</ul>
		<%= link_to_add_association 'add ingredient', f, :items,
				:wrap_object => Proc.new {|item| item.build_ingredient; item } %>					
	</fieldset>
			
		<%= f.submit 'Create recipe', class: 'button' %>
<% end %>