<%= form_for @recipe do |f| %>
<section>
	<fieldset id="recipe_meta">
		<ul>
			<li>
				<%= f.label :title  %> 
				<%= f.text_field :title %> <br>
			</li>
			<li>
				<%= f.label :description  %> 
				<%= f.text_area :description, as: :text, id: 'recipe_description'  %><br>
			</li>
			<li>
				<%= f.label :photo %>
				<%= image_tag @recipe.photo.url(:medium) %>
				<%= f.file_field :photo %>
			</li>
		</ul>
	</fieldset>
</section>

		<!-- NESTED FORM -->
	<aside>
		<fieldset id="recipe_ingredients">
			<ul>
				<%= f.fields_for :items do |item| %>
					<%= render 'item_fields', f: item %>
				<% end %>	
			</ul>
			<%= link_to_add_association ('<i class="fa fa-plus"></i> add ingredient').html_safe, f, :items,
					:wrap_object => Proc.new {|item| item.build_ingredient; item }, class: 'button_b' %>	
		</fieldset>
	</aside>
			
		<span class="form_container_b"><%= f.submit yield(:button_text), class: 'button' %></span>
<% end %>