<% provide(:title, 'My Recipes') %>
<% content_for(:submenu) do %>
	<%= render 'subnav'  %>
<% end %>

<div id="recipe_index" class='content'>		
		<h2>My recipes</h2>

	<%= will_paginate @recipes %>
	
		<p><%= link_to ('<i class="fa fa-plus fa-2x"></i> New Recipe').html_safe, new_recipe_path %></p>

			<%= render 'recipes' %>
				
	<%= will_paginate @recipes %>		

</div>