<div class="row">
	<div class="small-12 columns">
		<h1>New recipe</h1>

		<%= form_for(@recipe) do |f| %>
			<fieldset id="recipe_meta">
				<ul>
					<li><%= f.text_field :title, placeholder: 'Title' %></li>

					<li><%= f.text_area :description, placeholder: 'Description' %></li>
				</ul>
			</fieldset>

				<!-- NESTED FORM -->
				<fieldset id="recipe-ingredients">
					<ul>
						<%= f.fields_for :items do |item| %>
							<%= render 'item_fields', f: item %>
						<% end %>	
					</ul>
						<%= link_to_add_association 'add ingredient', f, :items, 
								'data-association-insertion-node' => "#recipe-ingredients ul", 
								'data-association-insertion-method' => "append", 
								:wrap_object => Proc.new {|item| item.build_ingredient; item } %>					
				</fieldset>
			
			<%= f.submit 'Create Recipe' %>
		<% end %>
	</div>
</div>