<div id="recipes">
	<!-- TITLE -->
	<aside class="recipes_items left">
		<h1><%= @recipe.title %></h1>
		<p><%= link_to 'Edit recipe', edit_recipe_path(@recipe) %></p>
		<h4>From: N/A</h4>
		<ul>
			<li><p class="time">Prep: N/A</p></li>
			<li><p class="time"> Cuisson: N/A</p></li>
		</ul>
			<p class="main_ingr">Main ingredient: N/A</p>
	</aside>		

			<!-- PREP DESCRIPTION -->
	<section class="recipes_items right">
		<h2>Preparation:</h2>
		<p class="description"><%= @recipe.description %></p>
	</section>

		<!-- INGREDIENT LIST -->
	<aside class="recipes_items">
		<h2>Ingredients:</h2>

		<% @recipe.items.each do |item| %>
			<ul>
				<li class='ingredient'>
					<%= item.ingredient.name %>: <%= item.amount %><%= item.measure %>
				</li>
			</ul>
		<% end %>
	</aside>	

</div>