<% provide(:title, "#{@recipe.title} Recipe") %>
<div id="recipes_show" class='content'>
	<!-- TITLE -->
	<aside class="recipe-title">
		<h3><%= @recipe.title %></h3>
		<%= image_tag @recipe.photo.url(:medium) %>

		<p><%= link_to ('<i class="fa fa-pencil"></i>Edit recipe').html_safe, edit_recipe_path(@recipe) %></p>		
		<ul>
			<li><p>From: N/A</p></li>
			<li><p class="time">Prep: N/A</p></li>
			<li><p class="time"> Cuisson: N/A</p></li>
			<li><p class="main_ingr">Main ingredient: N/A</p></li>
		</ul>			

		<h4>Ingredients:</h4>

		<% @recipe.items.each do |item| %>
			<ul>
				<li class='ingredient'>
					<%= item.ingredient.name %>: <%= item.amount %><%= item.measure %>
				</li>
			</ul>
		<% end %>
	</aside>

			<!-- PREP DESCRIPTION -->
	<section class="recipe-prep">
		<h4>Preparation:</h4>
		<p class="description"><%= @recipe.description %></p>
	</section>
		

</div>