<div id="recipes" class="row">
	<div class="small-12">
		<div class="row">	
			<!-- TITLE -->
			<div class="large-5 columns recipes_items left">
				<h1><%= @recipe.title %></h1>
				<p><%= link_to 'Edit recipe', edit_recipe_path(@recipe) %></p>
				<h4>From: N/A</h4>
				<ul class="small-block-grid-2">
					<li><p class="time">Prep: N/A</p></li>
					<li><p class="time"> Cuisson: N/A</p></li>
				</ul>
				<p class="main_ingr">Main ingredient: N/A</p>
			</div>

			<!-- PREP DESCRIPTION -->
			<div class="large-6 columns recipes_items right">
				<h2>Preparation:</h2>
				<p class="description"><%= @recipe.description %></p>
			</div>
		</div>

		<!-- INGREDIENT LIST -->
		<div class="row">
			<div class="large-4 columns recipes_items">
				<h2>Ingredients:</h2>
					<% @recipe.items.each do |item| %>
						<ul>
							<li class='ingredient'>
									<%= item.ingredient.name %>: <%= item.amount %><%= item.measure %>
							</li>
						</ul>
					<% end %>
			</div>
		</div>
	
	</div>
</div>