<% provide(:title, 'Edit user') %>

<div id="signup">
	<div class="content">
		<h2>Update your profile</h2>

		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_message' %>

			<%= f.text_field :name, placeholder: 'Name' %>

			<%= f.email_field :email, placeholder: 'E-mail' %>

			<%= f.password_field :password, placeholder: 'Password' %>

			<%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>

			<div class="btn_holder"><%= f.submit "Save changes", class: 'button round' %></div>
		<% end %>

	</div>
</div>