<% provide(:title, 'Edit user') %>

<div id="user_edit" class="form_container_b">
		<h2>Update your profile</h2>

		<%= image_tag @user.avatar.url(:medium) %>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_message' %>
			
			<%= f.label :avatar %>
			<%= f.file_field :avatar %>
			
			<%= f.label :name  %>
			<%= f.text_field :name, class: 'form_field' %> <br>

			<%= f.label :email  %>
			<%= f.email_field :email, class: 'form_field' %> <br>

			<%= f.label :password  %>
			<%= f.password_field :password, class: 'form_field' %> <br>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class: 'form_field' %> <br>

			<div class="btn_holder"><%= f.submit "Save changes", class: 'button' %></div>
		<% end %>

</div>
