<% provide(:title, 'Sign up') %>

<div id="signup" class="form_container_a">
		<h2>Sign Up</h2>

<!-- FORM CONTAINER -->	
		<%= form_for @user do |form| %>
  		<%= form.file_field :avatar %>
		<% end %>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_message' %>
					<%= f.text_field :name, placeholder: 'User Name', class: 'form_field' %>
					<br>
					<%= f.email_field :email, placeholder: 'E-mail', class: 'form_field' %>
					<br>
					<%= f.password_field :password, placeholder: 'Password', class: 'form_field' %>
					<br>
					<%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form_field' %>
					<br>
					<%= f.submit "Create my account !", class: 'form_field button' %>
		<% end %>

<!-- END FORM CONTAINER -->

</div>

