<% if logged_in? %> 
  <header class="logged_in">		
		<nav class="left">
			<ul>				
        <li >
          <%= link_to ('My recipes').html_safe, recipes_path %>
        </li>
        <li>
         	<%= link_to (' Calendar').html_safe, meals_path %>
        </li>

        <li>
          <%= link_to ('Shopping list').html_safe, 
          							 '#' %>
          </li>
			</ul>
		</nav>

		<nav class="right">
			<ul>
        <li>
         	<%= link_to ('Log Out').html_safe, logout_path, method: 'delete' %>
        </li>
      </ul>        
		</nav>		
  </header>
<% else %>
  <header class="not_logged_in">
    <h1><%= link_to 'Khana', root_path  %></h1>
  </header>

<% end %>

		
