<% if logged_in? %> 
  <div class="header">
    <h1><%= link_to 'Khana', root_path %></h1>
  </div>
  <header class="logged_in">
  		<nav class="left">
  			<ul>				
          <li >
            <%= link_to 'My recipes', recipes_path, class: 'current_class?(recipes_path)' %>
          </li>
          <li>
           	<%= link_to ' Calendar', meals_path, class: 'current_class?(meals_path)' %>
          </li>

          <li>
            <%= link_to 'Shopping list', 
            							 '#' %>
            </li>
  			</ul>
  		</nav>

  		<nav class="right">
  			<ul>
          <li>
           	<%= link_to ('Log Out').html_safe, logout_path, method: 'delete' %>
          </li>
        </ul>        
  		</nav>		
  </header>
<% else %>
  <header class="not_logged_in">
    <h1><%= link_to 'Khana', root_path  %></h1>
  </header>

<% end %>

		
